.job-health-detail {
  padding: 24px;

  @media (max-width: 575px) {
    padding: 12px;
  }

  &__header {
    margin-bottom: 8px;
  }

  &__status-dot {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    flex-shrink: 0;
  }
}
